{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Питомник собак и кошек</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="container-fluid bg-success text-white py-3">
        <div class="row">
            <div class="col-2">
                {% load static %}
                <img src="{% static 'logo.png' %}" alt="logo" id="logo" width="50"/>
            </div>
            <div class="col-10 d-flex align-items-center">
                <h1>Добро пожаловать в Моздокский питомник для </h1>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% block content %}
            Контент скоро появится...
        {% endblock %}
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'animal_catalog' %}">Наши животные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="footer bg-success text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left">
                    <div class="footer-links">
                        <a href="#">Связаться с администрацией сайта</a> |
                        <a href="#">Избранное</a> |
                        <!-- Добавьте остальные ссылки -->
                    </div>
                    <p>&copy; {{ year }} Питомник собак и кошек</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-baseline">
                    <div class="social-links">
                        <a href="https://vk.com/pitomnik_sobak_i_koshek" class="mr-3 text-white">ВКонтакте</a> |
                        <a href="https://t.me/pitomnik_sobak_i_koshek" class="text-white">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>
</html>