{% extends 'base.html' %}

{% block title %}Питомник собак и кошек - О нас{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <h2>Вас приветствует Моздокский приют для безнадзорных животных!</h2>
        </div>
            <div class="col-md-8 text-left">
            <p style="text-indent: 20px;">В нашем приюте мы предоставляем временное убежище и необходимый уход для собак и кошек, которые оказались бездомными или нуждаются в помощи.</p>
            <p style="text-indent: 20px;">Мы стремимся предоставить нашим питомцам все, что им необходимо для счастливой и здоровой жизни. В нашем приюте каждое животное получает ветеринарную помощь, регулярные прививки и процедуры по уходу за шерстью.</p>
            <p style="text-indent: 20px;">Мы также уделяем большое внимание социализации животных, помогая им привыкнуть к людям и обучая базовым навыкам, чтобы они были готовы к переезду в семью.</p>
            <p style="text-indent: 20px;">У нас есть животные разных пород и возрастов. Мы верим, что каждое из них заслуживает любящих и заботливых хозяев, поэтому мы стремимся помочь животным найти свою идеальную семью.</p>
            <p style="text-indent: 20px;">Мы работаем с потенциальными владельцами, чтобы убедиться, что каждое животное попадает в теплый и надежный дом, где оно будет любимо и окружено заботой.</p>
            <p style="text-indent: 20px;">Кроме ухода за животными в нашем приюте, также активно проводятся образовательные мероприятия, консультации об ответственном владении питомцами.</p>
            <p style="text-indent: 20px;">Мы предлагаем рекомендации по уходу за собаками и кошками, а также организуем экскурсии для детей и взрослых.</p>
            <p style="text-indent: 20px;">Благодарим вас за интерес к приюту. Вместе мы можем сделать мир лучше для бездомных животных и помочь им прожить счастливую и долгую жизнь.</p>
            <p style="text-indent: 20px;">Приходите к нам в гости, ваши новые друзья уже ждут вас!</p>
        </div>
        <div class="col-md-4 center">
            <img src="{% static 'images/for_about.jpeg' %}" alt="Собака и кошка" style="width: 250%; float: left; margin-right: 20px;">
        </div>
    </div>
</div>
{% endblock %}